.header {
  position: relative;
  background-color: #333;
  color: white;
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 72px;
}

.header a {
  color: white;
  text-decoration: none;
}

.menuButton {
  display: block;
}

/* Desktop navigation за замовчуванням прихована */
.navigation {
  display: none;
}
.desktopNav {
  display: none;
}

/* Mobile menu */
.mobileNav {
  position: fixed;
  top: 72px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  z-index: 10;
  overflow-y: auto;
}

.mobileNavigation {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin: 0;
  padding: 16px;
  list-style: none;
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .desktopNav {
    display: block;
  }
  .menuButton {
    display: none;
  }

  .navigation {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .mobileNav {
    display: none;
  }
}
